parameters:
	ignoreErrors:
		-
			message: '#expects callable#'
			path: %currentWorkingDirectory%/src
		-
			message: '#Access to an undefined property#'
			path: %currentWorkingDirectory%/src/Services/Configuration/AnnotationsBasedServiceHandlersLoader.php
