parameters:
    checkGenericClassInNonGenericObjectType: false
    checkMissingIterableValueType: false
    ignoreErrors:
        -
            message: '#Unable to resolve the template type#'
            path: %currentWorkingDirectory%/src

