parameters:
	checkMissingIterableValueType: false
	checkGenericClassInNonGenericObjectType: false
	ignoreErrors:
		- '#Cannot cast mixed to int#'
		- '#Access to .* ServiceBus\\Services\\Configuration\\ServiceMessageHandlerType(.*)#'
		- '#Method ServiceBus\\Context\\KernelContext::validationFailed\(\) is unused#'
